 body {
    position: absolute;
    margin: 0;
}

header {
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/001/963/626/small_2x/modern-high-resolution-black-geometric-background-with-polygonal-grid-abstract-black-metallic-hexagonal-pattern-simple-illustration-vector.jpg);
    height: 30rem;
    clip-path: polygon(50% 0%, 100% 0, 95% 50%, 75% 65%, 25% 65%, 5% 45%, 0 0);
    color: white;
}

.fondo {
    background-color: rgb(223, 223, 223);
    height: 19.6rem;
}
 
#repuestos {
    display: flex;
    justify-content:space-around;
} 

.accordion {
    display: flex;
    height: 2.5rem;
    width: 30rem;
    background-color: rgb(192, 192, 192);
    border-width: 0.1rem;
    transition: 0.6s;
    font-size: 1.2rem;
    font-weight: 2rem;
}

.accordion:hover {
    background-color: rgb(54, 54, 54);
}

.contImg {
    height: 15rem;
    width: 30rem;
    background-color: blue;
}

h1 {
    float: left;
    margin-left: 2rem;
}

.nav {
    display: inline;
    margin-right: 2rem;
}

nav {
    float: right;
}


h2 {
    background-color: rgb(54, 54, 54);
    padding-left: 2rem;
    color: white;
}

section p {
    margin: 0 auto 0 auto;
    width: 40rem;
    text-align: center;
}

.mapaYForm {
    height: 35rem;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(223, 223, 223);
}

.mapa, .form {
    margin-top: 3rem;
}

iframe {
    border-radius: 5rem;
}

.form {
    width: 25rem;
    height: 30rem;
    background-color: rgb(236, 242, 252);
    text-align: center;
    border-radius: 0 0 2rem 2rem;
}

.formulario {
    width: 15rem;
    height: 1.6rem;
    margin: 1rem 0 1rem 0;
}
